@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

.wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.card {
  @include card;
  width: 400px;
  max-width: 100%;
}

.title {
  margin-bottom: 1rem;
  font-size: $h3-size;
}

.details {
  margin-bottom: 1rem;
}
