@use "../styles/mixins" as *;

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.page__title {
  margin-bottom: 0;
}

.page__description {
  margin-bottom: 2rem;
  color: #888;
}
