@use "./variables" as *;
@use "sass:color";

// Button mixin
@mixin button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: $size-radius;
  cursor: pointer;
  transition: 0.2s;
  user-select: none;
  -webkit-user-select: none;

  &:hover,
  &:focus {
    outline: none;
  }
}

// Text input mixin
@mixin text-input {
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: $size-radius;
  font-size: 1em;
  transition: border-color 0.2s;

  &:focus {
    border-color: color.adjust(#ccc, $lightness: -10%);
    outline: none;
  }
}

// Card mixin
@mixin card {
  padding: 1.5em;
  border: 1px solid #ccc;
  border-radius: $size-radius;
}
